<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">


        <div class="navbar">
            <a class="nav-link active home" aria-current="page" href="/">
                <i class="bi bi-house-fill"></i>Tech Blog</a>

            {{#if loggedIn}}
            <button id="logout" class="btn btn-link">Logout</button>
            {{else}}
            <a class="nav-link signin" href="/signin">SignIn</a>
            {{/if}}


        </div>
    </nav>
    <main class="container">
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/sessionout.js"></script>
    {{/if}}
</body>

</html>