<section class="my-post">
    <h2 class="text-center mt-4 mr-3">Your posts</h2>

    {{#if posts.length}}
    <div>
        {{#each posts as |post|}}

        {{>post-info post}}
        {{/each}}
    </div>
    {{/if}}
    <div class="d-flex justify-content-center create-post">
        <a href="/create" class="btn btn-primary btn-lg">Create Post</a>
    </div>
</section>
<script src="/javascript/createpost.js"></script>
