<article class="container">
    {{#each posts}}
    <section>
        <div>
            {{title}}
            <span>posted by {{user.username}} on {{createdAt}}</span>
        </div>
        <div>
            <p>{{content}}</p>
            <div class="d-flex">
                <i class="bi bi-heart-fill"></i>
                <i class="bi bi-chat-left"></i>
            </div>
        </div>
    </section>
    {{/each}}
</article>