<ol class='mt-4'>
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
</ol>

<script src="/javascript/like.js"></script>
<script src="/javascript/comment.js"></script>