<!--Signup form -->
<section class="p-5 d-flex justify-content-center">
    <form class="signup-form">

        <div class="form-outline mb-4">
            <input type="text" id="username" name="username" class="form-control p-4" />
            <label class="form-label" for="username">User name</label>
        </div>


        <div class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control p-4" />
            <label class="form-label" for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block p-2">Sign up</button>
    </form>
</section>
<script src="/javascript/signup.js"></script>

<script src="/javascript/sessionout.js"></script>