<section class="signin">
    <form class="signin-form">
        <div class="form-outline mb-4">
            <input type="text" id="user" name="username" class="form-control p-4" />
            <label class="form-label" for="username">Username</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control p-4" />
            <label class="form-label" for="password">Password</label>
        </div>
        <div class="text-center">
            <p>Not a member? <a href="/signup">Register</a></p>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4 p-2">Sign in</button>

    </form>
</section>

<script src="/javascript/signin.js"></script>