<article class="mt-4 comment">
    {{> post-info posts}}
    {{>comment posts.comments}}
    {{#if loggedIn}}
    <section>
        <form class="comment-form">
            <div class="form-outline mb-4">
                <label class="form-label ml-4" for="comment">Comments</label>
                <textarea class="form-control" id="comment" name="comment_text" rows="4"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4 btn-comment" data-post-id={{id}}>Submit</button>
        </form>
    </section>
    {{/if}}
</article>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}