
/*-------Main section--------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
  }
   
  body, html {
    font-family: 'Lato', sans-serif;
    color:#333;
    background-color: #f4f4f4;
  }
 
  a {
    text-decoration: none;
    font-size: 90%;
    color:#151515;
    font-weight: bold;
    transition: color .3s ease-in-out;
      
  }
  a:hover{
    text-decoration: none;
  }
 /*---------Navbar--------*/
  .nav-bar{
    padding: 0.7rem 5rem;  
    font-size: 120%;
   background-color: #0c2438;
   color:#fff;
   display: flex;
   justify-content: space-between;
  }
  .nav-bar .home{
    font-size: 2rem;
    font-weight: 300;
  }

.nav-bar .nav-link{
  color:#fff;
}
 
  .nav-bar .signin,#logout, #dashboard{
   font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    color:#fff;
    margin-top: 0.5rem;
  }

/*-------blog-post article--------*/
h2{
  font-weight: 700;
  font-size: 2rem;
  
}
h2 a{
  color:#05aeff;
  font-weight: 400;
}
.content{
  color:#898989;
  font-weight: 400;
  line-height: 1.3em;
  margin: 5px 0;
}
  
.writer{
    text-transform: uppercase;
    font-weight: 400;
    color:#05aeff;
    font-family: acumin-pro;
}
.blog-post{
  margin:30px;
  padding:1rem;
  background-color: #fff;
  transform: scale(1.03);
  transition: transform 0.5s;
}
.blog-post:hover{
  transform: scale(1.05);
}
/*-------Signin section--------*/
.signin .signin-form, .signup-form{
width:30%;
margin:10% auto;
}
.signin .signin-form p a{
  color:#1266f1;
  font-size: 1rem;
}
.card{
  border:none;
}
.card-body{
  padding:0.2rem;
}
/*-------comment article--------*/
#comment,.btn-comment{
 width:95%;
 margin:0 auto;
}

/*-------section my post--------*/
.my-post{
  margin-top:5%;
}
.create-post,.edit-post{
  width:60%;
  margin:10% auto;
}

